.loading {
  font-size: 2rem;
  margin: 200px auto 0;
  animation: spin 600ms linear infinite;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
